@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Averta, sans-serif;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.first-wrap {
  background-image: url("/images/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #514949;
  height: 800px;
}
.first-wrap img {
  margin: 5rem auto 69px;
}
.first-wrap h2 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 36px;
}
.first-wrap p {
  width: 50%;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 7rem;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
}
.first-wrap p a {
  color: #e7332b;
  text-decoration: none;
}
.first-wrap-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 2%;
}
#new {
  border: 1px solid #e7332b;
  font-size: 1rem;
  text-decoration: none;
  background-color: #e7332b;
  color: #fff;
  padding: 11px 2rem;
}
#new:hover {
  color: #e7332b;
  background-color: #fff;
}
#need {
  border: 1px solid #e7332b;
  font-size: 1rem;
  text-decoration: none;
  color: #e7332b;
  background-color: #fff;
  padding: 11px 2rem;
}
#need:hover {
  background-color: #e7332b;
  color: #fff;
}
/* Styling the second section */
.second-wrap {
  text-align: center;
}
.second-wrap h6 {
  font-size: 14px;
  line-height: 24px;
  color: #e7332b;
  margin-top: 70px;
}
.second-wrap p {
  font-size: 24px;
  line-height: 40px;
  width: 30%;
  margin: 0 auto;
  color: #514949;
  margin-top: 8px;
  margin-bottom: 64px;
}
.third-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: -4rem;
}
.third-wrap img {
  height: auto;
  width: 25%;
}
.fourth-wrap {
  display: flex;
  margin: 0 4rem;
  justify-content: space-between;
  margin-top: -20rem;
}
.cards {
  height: 511px;
  width: 32%;
  background-color: #fffafa;
  padding: 4rem 2rem 0rem;
}
.cards img {
  margin-bottom: 48px;
}
.cards p {
  font-size: 16px;
  height: 170px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.cards a {
  font-size: 16px;
  line-height: 24px;
  color: #e7332b;
  opacity: 0.9;
  text-decoration: none;
}
.footer-container {
  max-width: 1170px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #514949;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  /* background-color: #e91e63; */
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #e7332b;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #000;
  padding-left: 8px;
}
.footer-col .social-links img {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #000;
  transition: all 0.5s ease;
}
.last-footer {
  margin-top: 5rem;
}
.last-footer p {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  color: #514949;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
