* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta, sans-serif;
}
.header-bg {
  background: url("assets/hero-bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 130vh;
}
.zuri-logo img {
  margin: auto;
  display: flex;
  padding-top: 69px;
  margin-bottom: 69px;
}
.text-wrap {
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.text-wrap h2 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-weight: 800;
  color: #514949;
  margin-bottom: 36px;
}
.text-wrap p {
  font-size: 16px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
  margin-top: 0;
  text-align: center;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text-wrap a {
  color: #e7332b;
  text-decoration: none;
}

.text-wrap a:hover {
  text-decoration: none;
  color: #eb5850;
}
.two-btn {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 14px 28px;
  border: 1px solid #e7332b;
}
.red-btn {
  background-color: #e7332b;
  color: #fff;
  margin-right: 24px;
}
.red-btn:hover {
  background-color: #fff;
  color: #e7332b;
}
.btn-white {
  background-color: #fff;
  color: #e7332b;
}
.btn-white:hover {
  background-color: #e7332b;
  color: #fff;
}
.wrapper-2 {
  background-color: #fff;
}
.wrapper-2-content {
  text-align: center;
}
.wrapper-2-content .title {
  font-size: 14px;
  line-height: 24px;
  color: #e7332b;
  margin-top: 141px;
}
.wrapper-2-content .anthem {
  font-size: 24px;
  line-height: 40px;
  color: #514949;
  margin-top: 8px;
  margin-bottom: 64px;
}
.wrapper-3 {
  display: flex;
  justify-content: space-between;
  margin-top: -4rem;
}
.wrapper-3 img {
  height: auto;
  width: 25%;
}
.wrapper-4 {
  display: flex;
  margin: 0 4rem;
  justify-content: space-between;
  margin-top: -20rem;
}
.wrapper-card {
  height: 511px;
  width: 32%;
  background-color: #fffafa;
  padding: 4rem 2rem 0rem;
}
.wrapper-card img {
  margin-bottom: 48px;
}
.wrapper-card p {
  font-size: 16px;
  height: 170px;
  line-height: 24px;
  color: #514949;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.wrapper-card a {
  font-size: 16px;
  line-height: 24px;
  color: #e7332b;
  opacity: 0.9;
  text-decoration: none;
}
.wrapper-5 {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  margin-top: 7rem;
  margin-bottom: 56px;
}
.wrapper-5 #zuri-team {
  margin-top: -4rem;
  margin-right: 5rem;
}
.links {
  display: flex;
  margin-right: 5rem;
  flex-direction: column;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.links h6 {
  color: #514949;
}
.links a {
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #e7332b;
  font-weight: 400;
}
.contact {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  width: 20%;
}
.contact h6 {
  color: #514949;
}
.contact a {
  text-decoration: none;
  color: #e7332b;
  font-weight: 400;
}
.contact p {
  font-size: 14px;
  line-height: 20px;
  color: #514949;
  opacity: 0.9;
  font-weight: 400;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons img {
  width: 10px;
  height: 10px;
  margin-left: 1rem;
}
.social-icons a {
  display: block;
}
hr {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #212529;
}
footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 32px;
  color: #212529;
  padding-bottom: 97px;
  text-align: center;
}
